# See http://help.github.com/ignore-files/ for more about ignoring files.

## Environment Variables
.env*

# compiled output
dist/
tmp/
out-tsc/

# dependencies
node_modules/

# WebStorm
/.idea/*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log

# System Files
.DS_Store
Thumbs.db
.idea/shelf